.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: fit-content;
    max-width: 80%;
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-shadow: 0 0 30px black;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal .modalheader{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}
.modal .modalheader .modalheadertext{
    flex-grow: 1;
    margin: 0;
}
.modal .modalheader button{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modalheader button i{
    font-size: 2em;
}
.modal .modalbody{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    overflow-y: scroll;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s ease-out;
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}
.chatoption{
    padding: 5px 15px;
    font-size: 1.1em;
    background-color: white;
    border-style: none;
    transition: 0.2s;
}
.chatoption:active{
    background-color: blue;
}
.imagedisplayoverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.7);
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.imagedisplayoverlay.active{
    opacity: 1;
    pointer-events: all;
}